.App {
  text-align: center;
  background-color: #F0F8FF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-img-top {
  height: 140px;
  width: 110px;
  margin: auto;
}

#player1 {
  margin-top:20px;
  padding: 2px;
  background-color: #e06666;
}

#player2 {
  padding: 2px;
  background-color: #ea9999;
}

#player3 {
  background-color: #f4cccc;
  margin: auto;
}

#gameContainer {
  margin-top:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 600px;
  background-color: #E6E6FA;
}

#gameBoard {
  width:800px;
  max-width:800px;
  display: inline-block;
  /*background-color: blue*/
}

#cardContainer {
  height: 350px;
  width: 600px;
  margin-top:50px;
  display: flex;
}

#deck1 {
  margin: auto;
  padding: 5px;
  height: 400px;
  width: 270px;
  display: flex;
}

#deck2 {
  margin: auto;
  padding: 5px;
  display: flex;
}

#deck3 {
  margin: auto;
  padding: 5px;
  height: 380px;
  width: 250px;
  display: flex;
}

#deck1.back {
  background-color: #674ea7;
}

#deck2.back {
  background-color: #8e7cc3;
}

#deck3.back {
  background-color: #b4a7d6;
}

#card.back {
  background-color: #d9d2e9;
  border: none;
}

.btn {
  background-color: #8e7cc3;
  border-color: #674ea7;
  margin-top: 140px;
}

.btn:hover {
  background-color: #674ea7;
  border-color: black;
}

.back-upside {
  margin-top: 15px;
}

#deck1.action {
  background-color: #3d85c6;
}

#deck2.action {
  background-color: #6fa8dc;
}

#deck3.action {
  background-color: #9fc5e8;
}

#card.action {
  background-color: #cfe2f3;
  border: none;
}

.card-body-holder1 {
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #073763;
}

.card-back-holder1 {
  padding: 4px;
}

.card-body-holder2 {
  width: 230px
}

.card-title-holder {
  border-width: 1px;
  border-style: solid;
  border-color: #073763;
}

.card-type-holder {
  border-width: 1px;
  border-style: solid;
  margin-bottom: 2px;
  border-color: #073763;
}

.card-title {
  margin: auto;
  padding: 5px;
  font-size: 23px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.card-type {
  margin: auto;
  padding: 5px;
}

.card-text-holder {
  border-width: 1px;
  border-style: solid;
  border-color: #073763;
}

.card-text {
  padding: 5px;
  margin: auto;
  font-size: 13px;
  height: 140px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.card-back-text {
  padding: 15px;
  font-size: 18px;
  height: 110px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}


.card-back-title {
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
